body {
    background-color: #97c8ca;
}

#heading-box {
    background-color: #131d2c;
    position: relative;
    overflow: hidden;
    /* height: calc(100vh - 50px); */ /* to make heading box take up the whole screen */
}

.welcome-text {
  text-align: center;
  font-size: 25pt;
  font-weight: bold;
  color: whitesmoke;
  margin-bottom: 0;
}

h1 {
    text-align: center;
    margin-bottom: 0%;
    margin-top: 0;
    font-size: 75px;
    color: whitesmoke;
}

h2 {
    text-align: center;
    margin-top: 0%;
    margin-bottom: 5%;
    font-size: 35px;
    color: whitesmoke;
}

h3 {
    text-align: center;
    font-size: 30px;
    margin-top: 5%;
}

div.center-item>p,
div.center-item>a>p {
    display: inline-block;
    width: 60%;
    font-size: 25px;
    padding-bottom: 15px;
}

div.center-item {
    text-align: center;
}

.highlight:hover {
    background-color: #393E46;
    color: #00ADB5;
}

article.light {
    color: #393E46;
    background-color: #afcdcf;
}

article.dark {
    color: #393E46;
    background-color: #97c8ca;
}

div.center-item>a:link {
    color: inherit;
}

div.center-item>a:visited {
    color: inherit;
}

div.center-item>a:hover {
    color: #63e5ec;
}

div.citations-container {
  display: grid;
  grid-template-columns: repeat(2, auto);
}

.thanks-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
}

@media (width <= 768px) {
  div.citations-container {
    grid-template-columns: auto;
  }
}

#get-started {
    background-color: #00ADB5;
    border-radius: 30px;
    border-width: 4px;
    border-color: #393E46;
    color: whitesmoke;
    cursor: pointer;
    font-size: 70px;
    font-family: Arial, Helvetica, sans-serif;
    height: 100px;
    width: 400px;
    margin-top: 5%;
    margin-bottom: 10%;

    /* shine */
    mask-image: linear-gradient(45deg, #000 25%, rgba(0, 0, 0, .2) 50%, #000 75%);
    mask-size: 500%;
    mask-position: 0;
}

#get-started:hover {
    transition: mask-position 1.5s ease;
    mask-position: 120%;
    opacity: 1;
}

#get-started:active {
    filter: contrast(150%);
}

div.information>article {
    padding-top: 0;
    padding-bottom: 0;
    transition: background-color 0.5s ease, color 0.5s ease;

    &:last-of-type {
      padding-bottom: 2rem;
    }
}

.papers-container:hover {
  p {
    background-color: #496666;
  }
}

.papers-container p {
  padding: 10px;
  background-color: #499999;

  &:first-of-type {
    border-radius: 10px 10px 0 0;
  }

  &:last-of-type {
    border-radius: 0 0 10px 10px;
  }
}

article>h3 {
    padding-top: 15px;
    margin-top: 0;
}

.energy-effect {
    position: absolute;
    top: 52%;
    width: 100%;
    height: 4px;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 255, 255, 1) 50%, rgba(0, 0, 0, 0) 100%);
    animation: glowing 2s infinite;
}

#title {
    position: relative;
}

#title h1 {
    position: relative;
    z-index: 1;
}

#title span {
    z-index: 0;
}

@keyframes glowing {
    0% {
        box-shadow: 0 0 5px rgba(0, 255, 255, 0.5), 0 0 10px rgba(0, 255, 255, 0.5), 0 0 20px rgba(0, 255, 255, 0.5), 0 0 40px rgba(0, 255, 255, 0.5);
    }

    50% {
        box-shadow: 0 0 20px rgba(0, 255, 255, 1), 0 0 40px rgba(0, 255, 255, 1), 0 0 60px rgba(0, 255, 255, 1), 0 0 80px rgba(0, 255, 255, 1);
    }

    100% {
        box-shadow: 0 0 5px rgba(0, 255, 255, 0.5), 0 0 10px rgba(0, 255, 255, 0.5), 0 0 20px rgba(0, 255, 255, 0.5), 0 0 40px rgba(0, 255, 255, 0.5);
    }
}

.para-bg {
    height: 100%;
    width: 100%;
    background-position: center bottom;
    background-repeat: repeat-x;
    position: absolute;
    bottom: 0px;
    width: calc(100% + 10px);
}

#para-bg-0 {
    background-image: url(../images/para-wave-0.svg);
    animation: scroll-background 4s infinite linear;
}

#para-bg-1 {
    background-image: url(../images/para-wave-1.svg);
    animation: scroll-background 9s infinite linear;
}

#para-bg-2 {
    background-image: url(../images/para-wave-2.svg);
    animation: scroll-background 16s infinite linear;
}

#para-bg-3 {
    background-image: url(../images/para-wave-3.svg);
    animation: scroll-background 25s infinite linear;
}

#para-bg-4 {
    background-image: url(../images/para-wave-4.svg);
    animation: scroll-background 36s infinite linear;
}

#para-bg-5 {
    background-image: url(../images/para-wave-5.svg);
    animation: scroll-background 49s infinite linear;
}

@keyframes scroll-background {
    0% {
        background-position: 0px bottom;
    }
    100% {
        background-position: 100vw bottom;
    }
}

a.related-paper {
    margin-bottom: 25px;
    display: block;
}

a.related-paper > p {
    margin: 0;
    text-align: left;
}
