body,
html {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

#query-form {
    display: flex;
    width: 50%;
    position: relative;
    margin: auto;
}

.menu-pane {
    text-align: center;
    color: whitesmoke;
    background-color: #191b1e;
    width: 100%;
    margin: 0 auto;
    padding: 15px 15px;
    box-shadow: #191b1e 0px 0px 20px;
}

.bevel-left {
    border-radius: 5% 0% 0% 5%;
}

.bevel-right {
    border-radius: 0% 5% 5% 0%;
}

#plot-section {
    max-width: 95%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    margin-top: 2%;
    text-align: center;
    color: whitesmoke;
    background-color: #393e46;
    box-shadow: #191b1e 0px 0px 50px;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#plot-section>div {
    width: 100%;
    height: 100%;
}

#plot-reset {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 173, 181, 0.5);
    border: 0;
    border-radius: 20%;
}

#plot-reset:hover {
    background-color: rgba(0, 173, 181, 1);
}

#plot-with-extra {
    position: relative;
    height: 100%;

}

#spinner-container {
    display: flex;
    justify-content: center;
    margin: 0 auto;

    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    /* make sure this doesn't impede the plot interactions */
}

#plot-reset {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 173, 181, 0.5);
    border: 0;
    border-radius: 20%;
}

#plot-reset:hover {
    background-color: rgba(0, 173, 181, 1);
}

#plot-section img {
    margin: auto;
    display: block;
    height: 80%;
}

.styled-dropdown {
    cursor: pointer;
    background-color: rgb(181, 221, 246);
    border: 0;
    box-shadow: 0px 0px 5px;
}

.space-input {
    margin-left: 15px;
}

.add-dropdown-button {
    left: 50%;
}

.optional-dropdown {
    display: none;
}

.remove-button {
    background-color: transparent;
    color: rgb(200, 0, 0);
    font-size: 15px;
    border: 0;
    position: absolute;
    left: -5px;
}

.remove-button:hover {
    color: rgb(255, 0, 0);
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 20px; /* Adjust the spacing as needed */
    margin-bottom: 20px;
}

.main-button {
    background-color: #00ADB5;
    border-radius: 10px;
    border: 0;
    height: 40px;
    width: 150px;
    font-size: 20px;
    color: #191b1e;
    margin-right: 10px; 
    
}

.main-button:hover {
    background-color: #30cbd3;
}

.main-button:active {
    box-shadow: inset 0px 0px 10px;
}

/* spinner -- starting design curtosy https://cssloaders.github.io/ */
/* center ring */
.loader {
    width: 50vh;
    height: 50vh;
    border-radius: 50%;
    display: inline-block;
    border: 40px solid;
    border-color: #afcdcf #afcdcf transparent transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    margin: auto;
    z-index: 2;
}

/* outer ring + ring setups */
.loader::after,
.loader::before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 40px solid;
    border-color: transparent #30cbd3 transparent #30cbd3;
    width: 35vh;
    height: 35vh;
    border-radius: 50%;
    box-sizing: border-box;
    animation: rotationBack 0.5s linear infinite;
    transform-origin: center center;
}

/* inner ring */
.loader::before {
    width: 20vh;
    height: 20vh;
    border-color: #afcdcf #afcdcf transparent transparent;
    animation: rotation 1.5s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotationBack {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

.gradient {
    background: linear-gradient(334deg, #162334, #97c8ca, #33ebed);
    background-repeat: no-repeat;
    background-size: 150% 150%;
    background-attachment: fixed;
    animation: gradient-animation 10s ease infinite;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 75%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.popup-icon {
    color: whitesmoke;
    border-radius: 50%;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    display: inline-block;
    padding: 0px;
    line-height: 0.9;
}

.popup-text {
    visibility: hidden;
    width: 200px;
    background-color: #393e46;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -100px;
    opacity: 0;
    transition: opacity 0.3s;
}

.popup-icon:hover .popup-text {
    visibility: visible;
    opacity: 1;
    bottom: 150%;
    margin-right: 50px;
}

.info-text {
    float: left;
    width: 30%;
    text-align: right;
}

.input-column {
    float: left;
    width: 70%;
    text-align: left;
}

/* get the SanKEY auto generated container to flex center the actual plot inside */
#sankey_plot_auto_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.history-toggle-btn {
    position: absolute;
    top: 13vh;
    left: 10px; 
    z-index: 1001;
    background: #333;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.sidebar {
    position: absolute;
    top: 11vh;
    left: -250px; 
    width: 250px;
    /* height: 100%; */
    background-color: #191b1e;
    transition: left 0.3s ease; 
    z-index: 1000;
    padding: 20px;
    box-sizing: border-box;
    color: whitesmoke;
    text-align: center;
    box-shadow: #191b1e 0px 0px 20px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.sidebar h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.sidebar.open {
    left: 0; 
}

.history-toggle-btn.open {
    left: 270px; 
}

.history-button {
    width: 100%;
    margin: 5px 0;
    background-color: #3a404a;
    border-radius: 5px;
    color: whitesmoke;
    border: 0;
    padding: 10px;
    text-align: left;
}

.history-button:hover {
    background-color: #617392;
}

.history-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.delete-history {
    background: none;
    border: none;
    color: #ff0000;
    cursor: pointer;
    margin-left: 10px;
}

.new-country-dropdown {
    position: relative;
}


.arrow-section{
    position: absolute;
    top: 20%;
    left: 80%;
    text-align: center;
    cursor: pointer;
}

.arrow {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
}

.arrow span {
    display: block;
    width: 1.5vw;
    height: 1.5vw;
    border-bottom: 5px solid #191b1e;
    border-right: 5px solid #191b1e;
    transform: rotate(45deg);
    margin: auto;
    animation: arrows-anim 5s infinite;
}

.arrow span:nth-child(2) {
    animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
    animation-delay: -0.4s;
}

@keyframes arrows-anim {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }
    30% {
        opacity: 1;
    }
    60% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
    100% {
        opacity: 0;
    }
}

.sankey-download-button {
    position: absolute;
    top: 0;
    right: 0;
}