{% extends "bases/info_page_base.html" %}

{% block hero_title %} About Mexer {% endblock %}
{% block hero_subtitle %} All about the Mexer project {% endblock %}

{% load static %}
{% block extra_head %}
    <!-- components -->
    {% include "snippets/card.html" %} <!-- include template html -->
    <script src={% static "js/components/card.js" %} defer></script> <!-- include web component script -->
    <!-- end components -->
{% endblock %}

{% block content %}
    <p>
      Welcome to Mexer. Our mission is to empower researchers to better
      understand energy conversion chains (ECCs) through intuitive visualization
      tools underpinned by the
      <a
        href="https://www.sciencedirect.com/science/article/pii/S0306261918308298"
        target="_blank"
        class="text-cyan-400 dark:text-cyan-600 hover:text-cyan-300"
        >PSUT framework.</a>
    </p>
    <mexer-card>
      <span id="title">Our Vision</span> 
      <span id="content">
        We envision a sustainable world in which everyone has access to clear and actionable energy data. 
        By providing this web application, we aim to make understanding and working with energy data easier, fostering informed, sustainable policy-making.
      </span> 
    </mexer-card>
    <mexer-card>
      <span id="title">Our Team</span>
      <span id="content">
        Our team consists of varied and passionate people, with the common goal of a sustainable world. 
        From engineers to economists, the Energy Economics Team is dedicated to the research and presentation of sustainable policies.
      </span>
    </mexer-card>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <div class="ml-20">
        <mexer-card>
          <span id="title">Kenneth Howes</span>
          <span id="content">
            This website was programmed by Kenneth Howes.
            Contact him via email at <a href='http://littlekendian.com' target='_blank' class='text-cyan-400 dark:text-cyan-600 hover:text-cyan-300'>kenneth.howes53@gmail.com</a>.
          </span>
        </mexer-card>
      </div>
      <div class="mr-20">
        <mexer-card>
          <span id="title">Edom Maru</span>
          <span id="content">
            This website was programmed by Edom Maru.
            Contact her via email at <a href='mailto:edomamaru@gmail.com' target='_blank' class='text-cyan-400 dark:text-cyan-600 hover:text-cyan-300'>edomamaru@gmail.com</a>.
          </span>
        </mexer-card>
      </div>
    </div>
    <mexer-card>
      <span id="title">Contact Us</span>
      <span id="content">
        We'd love to hear from you!
        Whether you have a question about our tools, need support, or want to provide feedback, please reach out to
        <a class='text-cyan-400 dark:text-cyan-600 hover:text-cyan-300' href='mailto: matthew.heun@calvin.edu'>matthew.heun@calvin.edu</a>,
        or create <a class='text-cyan-400 dark:text-cyan-600 hover:text-cyan-300' href='https://github.com/Energy-Visualizer/eviz/issues' >a GitHub issue</a >.
      </span>
    </mexer-card>

    <mexer-card>
      <span id="title">Data Offered</span>
      <span id="content">
        Information about the data available on Mexer can be found <a href="{% url 'data-info' %}" class="text-cyan-400 dark:text-cyan-600 hover:text-cyan-300">here</a>.
      </span>
    </mexer-card>

    <mexer-card>
      <span id="title">Acknowledgements</span>
      <span id="content">
        Development of the Mexer website in Summer 2024 was made possible by a
        generous grant from the Energy Economics journal to Instituto Superior
        Téchnico, Lisbon, Portugal with a subcontract to Calvin University.
      </span>
    </mexer-card>
{% endblock content %}
