{% extends "bases/info_page_base.html" %}

{% block hero_title %} Data Information {% endblock %}

{% load static %}
{% load str_manip_tags %}
{% block extra_head %}
    <!-- components -->
    {% include "snippets/card.html" %} <!-- include template html -->
    <script src="{% static 'js/components/card.js' %}" defer></script> <!-- include web component script -->
    <!-- end components -->
{% endblock %}
{% block content %}
    Mexer allows for the investigation of data from multiple sources and versions thereof.
    Currently, the following <a class="text-cyan-500" href="#versions">versions</a> and <a class="text-cyan-500" href="#datasets">datasets</a> are available.
    <p class="text-red-500">
        Please note International Energy Agency (IEA) data is proprietary.
        It cannot be accessed nor shared without proper authorization.
        Non-IEA data is free to access and share.
    </p>

    <h2 class="text-2xl mt-4" id="versions">Versions</h2>
    {% for version in public_versions %}
        {% comment %}
        version.Version is the name
        {% endcomment %}
        <mexer-card>
            <span id="title">{{ version.version }}</span>
            <span id="content">
                <em>Released {{ version.release_date }}</em>
                <p>
                    <ul class="list-disc px-5">
                    {% for note in version.change_notes|split:"\.\s+|\.$"|slice:-1 %}
                        <li>{{ note }}</li>
                    {% endfor %}
                    </ul>
                </p>
            </span>
        </mexer-card>
    {% endfor %}

    <h2 class="text-2xl mt-4" id="datasets">Datasets</h2>
    {% for dataset in datasets %}
        {% comment %}
        dataset.dataset is the shortened name
        {% endcomment %}
        <mexer-card>
            <span id="title">{{ dataset.dataset }}</span>
            <span id="content">
                <em>{{ dataset.full_name }}</em>
                <p>
                    {{ dataset.description }}
                </p>
            </span>
        </mexer-card>
    {% endfor %}
{% endblock %}
