<!DOCTYPE html>
<html>

<head>
    <title>Mexer Data</title>
    <link rel="stylesheet" type="text/css" href="../static/css/toolbar.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/about.css" />
</head>

<body>
    <div class="topbar">
        <div class="left">
            <a class="main" href="{% url 'home' %}">Mexer</a>
        </div>
        <div class="right">
            {% if request.user.is_authenticated %}
                <p style="color: #33ebed;">{{ request.user.username.upper }}</p>
            {% endif %}
            <a class="links" href="{% url 'visualizer' %}">Visualizer</a>
            <a class="links" href="{% url 'about' %}">About</a>
            {% if request.user.is_authenticated %}
            <a class="links" href="{% url 'logout' %}">Sign Out</a>
            {% else %}
            <a class="links" href="{% url 'login' %}">Sign In</a>
            {% endif %}
        </div>
    </div>
    <svg viewBox="0 0 500 10" preserveAspectRatio="xMinYMin meet">
        <path d="M 0 0 C 113 16 352 -8 500 5 L 500 0 L 0 0 Z" style="stroke: none; fill:#393E46;"></path>
    </svg>

    <div class="about-content">
        <h1>Data Information</h1>
        <p>
            Mexer allows for the investigation of data from multiple sources. Currently, the following datasets are available.
            <p class="alert">
                Please note International Energy Agency (IEA) data is proprietary.
                It cannot be accessed nor shared without proper authorization.
                Non-IEA data is free to access and share.
            </p>
            <ul>
                {% for dataset in datasets %}
                    {% comment %}
                    dataset.Dataset is the shortened name  
                    {% endcomment %}
                    <li>{{ dataset.Dataset }}</li>
                {% endfor %}
            </ul>
        </p>

        {% for dataset in datasets %}
            {% comment %}
            dataset.Dataset is the shortened name  
            {% endcomment %}
            <h2>{{ dataset.Dataset }}</h2>
            <h3>{{ dataset.FullName }}</h3>
            <p>
                {{ dataset.Description }}
            </p>
        {% endfor %}

        
    </div>
    
</body>

</html>