<!DOCTYPE html>
<html>
  <head>
    <title>Mexer</title>
    <link rel="stylesheet" href="../static/css/toolbar.css" type="text/css" />
    <link rel="stylesheet" href="../static/css/index.css" type="text/css" />
  </head>

  <body>
    <div class="topbar">
      <div class="left">
        <a class="main" href="{% url 'home' %}">Mexer</a>
      </div>
      <div class="right">
        {% if request.user.is_authenticated %}
        <p style="color: #33ebed">{{ request.user.username.upper }}</p>
        {% endif %}
        <a class="links" href="{% url 'visualizer' %}">Vizualizer</a>
        <a class="links" href="{% url 'about' %}">About</a>
        {% if request.user.is_authenticated %}
        <a class="links" href="{% url 'logout' %}">Sign Out</a>
        {% else %}
        <a class="links" href="{% url 'login' %}">Sign In</a>
        {% endif %}
      </div>
    </div>

    <div id="heading-box">
      <svg viewBox="0 0 500 10" preserveAspectRatio="xMinYMin meet">
        <path
          d="M 0 0 C 113 16 352 -8 500 5 L 500 0 L 0 0 Z"
          style="stroke: none; fill: #393e46"
        ></path>
      </svg>

      <div id="para-bg-5" class="para-bg"></div>
      <div id="para-bg-4" class="para-bg"></div>
      <div id="para-bg-3" class="para-bg"></div>
      <div id="para-bg-2" class="para-bg"></div>
      <div id="para-bg-1" class="para-bg"></div>
      <div id="para-bg-0" class="para-bg"></div>

      <div id="title">
        <span class="energy-effect"></span>
        <h1>Welcome to Mexer</h1>
        <h2>Materials and Energy eXERgy visualizer</h2>
      </div>

      <div class="center-item">
        <a href="{% url 'visualizer' %}"
          ><button id="get-started">Get Started</button></a
        >
      </div>
    </div>

    <div class="information">
      <article class="highlight dark">
        <div class="center-item">
          <p>
            Mexer enables exploration of primary, final, and useful energy,
            exergy, and materials data across the economy.
          </p>
        </div>
      </article>
      <article class="highlight light papers-container">
        <h3>Papers Related to Mexer</h3>
        <div class="center-item citations-container">
          <a
            href="https://doi.org/10.1088/2753-3751/ad4e39"
            target="_blank"
            class="related-paper"
          >
            <p>
              Paul E Brockway, Matthew Kuperus Heun, Zeke Marshall, Emmanuel
              Aramendia, Paul Steenwyk, Thomas Relph, Michelle Widjanarko,
              Jeonghoo (James) Kim, Anjana Sainju, Julian Irtube
            </p>
            <p>
              "A country-level primary-final-useful (CL-PFU) energy and exergy
              database: overview of its construction and 1971–2020 world-level
              efficiency results."
            </p>
            <p>2024 Environmental Research: Energy 1 025005.</p>
            <p>DOI: 10.1088/2753-3751/ad4e39</p>
          </a>
          <a
            href="https://doi.org/10.1016/j.apenergy.2024.123344"
            target="_blank"
            class="related-paper"
          >
            <p>
              Bernardo Tostes, Sofia T. Henriques, Paul E. Brockway, Matthew
              Kuperus Heun, Tiago Domingos, Tânia Sousa
            </p>
            <p>
              “On the Right Track? Energy Use, Carbon Emissions, and Intensities
              of World Rail Transportation, 1840–2020.”
            </p>
            <p>Applied Energy, vol. 367, Aug. 2024, p. 123344.</p>
            <p>DOI: 10.1016/j.apenergy.2024.123344</p>
          </a>
          <a
            href="https://doi.org/10.1016/j.energy.2023.126775"
            target="_blank"
            class="related-paper"
          >
            <p>
              Ricardo Pinto, Sofia T. Henriques, Paul E. Brockway, Matthew
              Kuperus Heun, Tânia Sousa
            </p>
            <p>
              “The Rise and Stall of World Electricity Efficiency:1900–2017,
              Results and Insights for the Renewables Transition.”
            </p>
            <p>Energy, vol. 269, Apr. 2023, p. 126775.</p>
            <p>DOI: 10.1016/j.energy.2023.126775</p>
          </a>
          <a
            href="https://link.springer.com/article/10.1007/s41247-022-00096-z"
            target="_blank"
            class="related-paper"
          >
            <p>
              Paul Steenwyk, Matthew Kuperus Heun, Paul E. Brockway, Tania
              Sousa, and Sofia Henriques.
            </p>
            <p>
              “The contributions of muscle and machine work to land and labor
              productivity in world agriculture since 1800.”
            </p>
            <p>Biophysical Economics and Sustainability, 7(2):1–17, 2022.</p>
            <p>DOI: 10.1007/s41247-022-00096-z</p>
          </a>
        </div>
      </article>
      <article class="highlight dark">
        <div class="center-item">
          <h2>
            Special Thanks
          </h2>
          <div class="thanks-grid">
            <div>
              <a href="https://calvin.edu" target="_blank">
                <img src="../static/images/calvin-logo.png" height="150px"/>
              </a>
              <p>
                Mexer was developed at Calvin University by students for the STEM
                department's summer research program.
              </p>
            </div>
            <div>
              <a href="https://tecnico.ulisboa.pt/en/" target="_blank">
                <img src="../static/images/technico.png" height="150px"/>
              </a>
              <p>
                Initial development on Mexer was made possible with a grant from 
                Instituto Superior Técnico in Lisbon, Portugal.
              </p>
            </div>
          </div>
        </div>
      </article>
    </div>
  </body>
</html>
