{% extends "bases/mexer_page_base.html" %}

{% load static %}

{% block extra_head %}
  <meta name="description"
        content="Mexer provides materials, energy, and exergy visualizations
                  at the economy-wide or world scale. Mexer empowers users with
                  data to enable research toward sustainable energy and material
                  policies.">
  </meta>
  <link rel="stylesheet" href="{% static 'css/bg-waves.css' %}" type="text/css" />
  <!-- components -->
  {% include "snippets/card.html" %} <!-- include template html -->
  <script src="{% static 'js/components/card.js' %}" defer></script> <!-- include web component script -->
  <!-- end components -->
{% endblock %}

{% block inner %}
  <div id="para-bg-5" class="para-bg fixed bottom-0 w-full"></div>
  <div id="para-bg-4" class="para-bg fixed bottom-0 w-full"></div>
  <div id="para-bg-3" class="para-bg fixed bottom-0 w-full"></div>
  <div id="para-bg-2" class="para-bg fixed bottom-0 w-full"></div>
  <div id="para-bg-1" class="para-bg fixed bottom-0 w-full"></div>
  <div id="para-bg-0" class="para-bg fixed bottom-0 w-full"></div>

  <header id="title" class="text-center py-12">
    <span class="block mx-auto w-16 h-1 bg-gradient-to-r from-blue-500 to-cyan-300 mb-4"></span>
    <p class="text-lg font-medium text-gray-600">Welcome to</p>
    <h1 class="text-9xl font-extrabold text-cyan-400 tracking-tight sm:text-7xl relative">
      <span class="absolute inset-0 flex justify-center items-center pointer-events-none">
        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" style="filter: drop-shadow(0 0 6px rgba(0, 255, 255, 0.9)); z-index: 1;" class="max-w-xl opacity-100" viewBox="0 80 960 603.4">
          <path d="M0 400c80-240 0 0 240 0 160 0 320 0 480 0 240 0 120 320 240 0V320c-80 240 0 69-239 69H240C0 388 120 0 0 320Z"></path>
        </svg>
      </span>
      Mexer
    </h1>
    <h2 class="text-xl font-semibold text-gray-600 mt-2">
      Materials and Energy eXERgy visualizer
    </h2>
  </header>

  <div class="flex justify-center items-center">
    <a href="{% url 'visualizer' %}">
      <button id="get-started" class="px-8 py-4 bg-gradient-to-r from-blue-500 to-cyan-400 text-white text-lg font-bold rounded-lg shadow-lg hover:bg-gradient-to-r hover:from-blue-600 hover:to-cyan-500 transform hover:scale-105 transition-transform duration-300">
        <span class="text-4xl">
          Get Started
        </span>
      </button>
    </a>
  </div>

  <article class="bg-gray-800 text-white rounded-lg shadow-lg p-6 my-8 max-w-[75%] mx-auto">
    <div class="center-item text-center">
      <p class="text-lg font-medium leading-relaxed">
        Mexer enables exploration of primary, final, and useful energy,
        exergy, and materials data across the economy.
      </p>
    </div>
  </article>

  <article class="bg-gray-100 text-gray-800 rounded-lg shadow-lg p-6 my-8 max-w-[75%] mx-auto">
    <h3 class="text-2xl font-bold text-center mb-4">Papers Related to Mexer</h3>

    {% for paper in related_papers %}
      <a
        href="{{ paper.URL }}"
        target="_blank"
      >
        <mexer-card>
          <span id="title">{{ paper.Title }}</span>
          <span id="content">
            <div>
              {{ paper.Authors }}
            </div>
            <div>{{ paper.Journal }}, {{ paper.Volume }} ({{ paper.Year }}), {{ paper.Pages }}.</div>
            <div class="text-blue-500">DOI: {{ paper.doi }}</div>
          </span>
        </mexer-card>
      </a>
    {% endfor %}

  </article>

  <article class="bg-gray-800 text-white rounded-lg shadow-lg p-6 my-8 max-w-[75%] mx-auto">
    <div class="text-center">
      <h2 class="text-2xl font-bold mb-6">Special Thanks</h2>
      <div class="grid grid-cols-1 sm:grid-cols-2 gap-8">
    <div class="flex flex-col items-center">
      <a href="https://calvin.edu" target="_blank" class="mb-4">
        <img src="{% static 'images/calvin-logo.png' %}" class="h-24 w-auto bg-slate-100 p-2 rounded-lg shadow-md" alt="Calvin University Logo" />
      </a>
      <p class="text-center">
        Mexer was developed at Calvin University by students for the STEM
        department's summer research program.
      </p>
    </div>
    <div class="flex flex-col items-center">
      <a href="https://tecnico.ulisboa.pt/en/" target="_blank" class="mb-4">
        <img src="{% static 'images/technico.png' %}" class="h-24 w-auto bg-slate-100 p-2 rounded-lg shadow-md" alt="Instituto Superior Téchnico Logo" />
      </a>
      <p class="text-center">
        Initial development on Mexer was made possible with a grant from
        Instituto Superior Téchnico in Lisbon, Portugal.
      </p>
    </div>
      </div>
    </div>
  </article>

{% endblock %}
