{% extends "bases/info_page_base.html" %}

{% block hero_title %} Matrix Information {% endblock %}

{% load static %}
{% block extra_head %}
    <!-- components -->
    {% include "snippets/card.html" %} <!-- include template html -->
    <script src={% static "js/components/card.js" %} defer></script> <!-- include web component script -->
    <!-- end components -->
{% endblock %}

{% block content %}
    <p>
        Mexer allows for the investigation of data using multiple different PSUT matricies. Information on these matricies can be found below.
    </p>
    {% for matrix in matricies %}
        {% comment %}
        matrix.matname is the short name
        {% endcomment %}
        <mexer-card>
            <span id="title">{{ matrix.matname }}</span>
            <span id="content">
                <em>{{ matrix.FullName }}</em>
                <p>
                    {{ matrix.Description }}
                </p>
            </span>
        </mexer-card>
    {% endfor %}
{% endblock %}
