<!DOCTYPE html>
<html  lang="en">
<head>
    <!-- External libraries -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js" charset="utf-8"></script> <!-- Plotly -->
    <link rel="stylesheet" href='../static/css/SanKEY_styles.css'> <!-- SanKEY css -->
    <script type="module" src="../static/js/plotUtil.js"></script> <!-- type is module because we import SanKEY code -->
    <script src="https://cdn.jsdelivr.net/npm/vega@5.21.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-lite@4.17.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-embed@6.17.0"></script>
    <link rel="icon" type="image/x-icon" href="../static/images/favicon.png" />
</head>

<body>

</body>
</html>
