<!DOCTYPE html>
<html  lang="en">
  <head>
    <title>Signup</title>
    <link rel="stylesheet" href="../static/css/toolbar.css" type="text/css" />
    <link rel="stylesheet" href="../static/css/signup.css" type="text/css" />
    <link rel="icon" type="image/x-icon" href="../static/images/favicon.png" />
  </head>

  <body class="gradient">
    <nav class="topbar">
      <div class="left">
        <a class="main" href="{% url 'home' %}">Mexer</a>
      </div>
      <div class="right">
        <a class="links" href="{% url 'visualizer' %}">Vizualizer</a>
        <a class="links" href="{% url 'about' %}">About</a>
        <a class="links" href="{% url 'data-info' %}">Data Info</a>
        {% if request.user.is_authenticated %}
        <p class="links" href="{% url 'logout' %}">Sign Out</p>
        {% else %}
        <p class="links" href="{% url 'login' %}">Sign In</p>
        {% endif %}
        {% if request.user.is_authenticated %}
        <p style="color: #33ebed">{{ request.user.username.upper }}</p>
        {% endif %}
      </div>
    </nav>

    <svg viewBox="0 0 500 10" preserveAspectRatio="xMinYMin meet">
      <path
        d="M 0 0 C 113 16 352 -8 500 5 L 500 0 L 0 0 Z"
        style="stroke: none; fill: #393e46"
      ></path>
    </svg>

    <div class="content">
      <div class="energy-visulizer">
        <h1>Material, Energy and Exergy Visualization</h1>
        <p>
          Discover how energy flows and transforms with our powerful
          visualization tools.
        </p>
      </div>
      <div class="login-box">
        <h1>Sign up</h1>
        <form method="POST">
          {% csrf_token %}
          {% for error_message in form.errors.values %} {{ error_message }} {% endfor %}
          <div class="form-group">
            {{ form.username.label_tag }} {{ form.username }}
          </div>
          <div class="form-group">
            {{ form.email.label_tag }} {{ form.email }}
          </div>
          <div class="form-group">
            {{ form.institution_type.label_tag }} {{ form.institution_type }}
          </div>
          <div class="form-group">
            {{ form.institution_name.label_tag }} {{ form.institution_name }}
          </div>
          <div class="form-group">
            {{ form.country.label_tag }} {{ form.country }}
          </div>
          <div class="form-group">
            {{ form.password1.label_tag }} {{ form.password1 }}
          </div>
          <div class="form-group">
            {{ form.password2.label_tag }} {{ form.password2 }}
          </div>
          <div class="form-group" style="display: flex;">
            <input type="checkbox" id="terms-conditions" required style="width:20%"/>
            <label for="terms-conditions">
              I agree to the <a href={% url 'terms_and_conditions' %}>terms and conditions</a>.
            </label>
          </div>
          <div class="form-group">
            <label for="id_captcha_1">Please type the word below</label><br>
            {{ form.captcha }}
          </div>
          <button type="submit">Sign up</button>
          <p>
            Already have an account?
            <a class="link" style="color: #00adb5" href="{% url 'login' %}"
              >Log In</a
            >
          </p>

          <div class="validation-user-password-credential">
            {{ form.validation_user_password_credential.label_tag }} {{ form.validation_user_password_credential }}
          </div>
        </form>
      </div>
    </div>

    <div id="para-bg-5" class="para-bg"></div>
    <div id="para-bg-4" class="para-bg"></div>
    <div id="para-bg-3" class="para-bg"></div>
    <div id="para-bg-2" class="para-bg"></div>
    <div id="para-bg-1" class="para-bg"></div>
    <div id="para-bg-0" class="para-bg"></div>
  </body>
</html>
