{% extends "bases/authentication_page_base.html" %}

{% block title %}Signup{% endblock %}

{% block hero_title %}Signup{% endblock %}

{% block blurb %}
  <div>
    <h2 class="text-4xl text-cyan-400 font-bold mb-5">Material, Energy, and eXERgy visualizer</h2>
    <p class="text-2xl">
      Discover how energy and materials flow and transform with our powerful visualization tools.
    </p>
  </div>
{% endblock %}

{% block form %}
  <form method="POST" class="text-white flex flex-col gap-3">
    {% csrf_token %}

    <mexer-form-input>
      <label for="{{ form.username.id_for_label }}">
        {{ form.username.label }}
      </label>
        {{ form.username }}
    </mexer-form-input>

    <mexer-form-input>
      <label for="{{ form.email.id_for_label }}">
        {{ form.email.label }}
      </label>
        {{ form.email }}
    </mexer-form-input>

    <mexer-form-input>
      <label for="{{ form.institution_type.id_for_label }}">
        {{ form.institution_type.label }}
      </label>
        {{ form.institution_type}}
    </mexer-form-input>

    <mexer-form-input>
      <label for="{{ form.institution_name.id_for_label }}">
        {{ form.institution_name.label }}
      </label>
        {{ form.institution_name }}
    </mexer-form-input>

    <mexer-form-input>
      <label for="{{ form.country.id_for_label }}">
        {{ form.country.label }}
      </label>
      {{ form.country }}
    </mexer-form-input>

    <mexer-form-input>
      <label for="{{ form.password1.id_for_label }}">
        {{ form.password1.label }}
      </label>
        {{ form.password1 }}
    </mexer-form-input>

    <mexer-form-input>
      <label for="{{ form.password2.id_for_label }}">
        {{ form.password2.label }}
      </label>
        {{ form.password2 }}
    </mexer-form-input>

    <div class="form-group flex items-center gap-2">
      <input type="checkbox" id="terms-conditions" required class="w-5 h-5 accent-cyan-400"/>
      <label for="terms-conditions" class="text-white text-sm">
      I agree to the <a href="{% url 'terms_and_conditions' %}" class="text-cyan-400 underline">terms and conditions</a>.
      </label>
    </div>

    <mexer-form-input>
      <label for="{{ form.captcha.id_for_label }}">
        {{ form.captcha.label }}
      </label>
      <div class="flex gap-5 w-full text-gray-900">
        {{ form.captcha }}
      </div>
    </mexer-form-input>

    {% if messages %}
      {% for message in messages %}
      <p{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %} style="color:red;"{% endif %}>{{ message }}</p>
      {% endfor %}
    {% endif %}

    <button type="submit" class="bg-cyan-400 rounded text-2xl font-bold p-2">Signup</button>
    <p>
      Already have an account?
      <a class="link" style="color: #00adb5" href="{% url 'login' %}">Log In</a>
    </p>

    <div class="hidden">
      {{ form.validation_user_password_credential.label_tag }} {{ form.validation_user_password_credential }}
    </div>
  </form>
{% endblock %}
