{% extends "bases/info_page_base.html" %}

{% block hero_title %} Terms and Conditions {% endblock %}

{% load static %}
{% block extra_head %}
  <!-- components -->
  {% include "snippets/card.html" %} <!-- include template html -->
  <script src="{% static 'js/components/card.js' %}" defer></script> <!-- include web component script -->
  <!-- end components -->
{% endblock %}

{% block content %}
  <p>
    The following terms and conditions govern all use of the Mexer website and
    all content, services and products available at or through the website.
    Please read this agreement carefully before accessing or using the
    website. By accessing or using any part of the website, you agree to
    become bound by the terms and conditions of this agreement. If you do not
    agree to all the terms and conditions of this agreement, then you may not
    access the website or use any services.
  </p>
  <mexer-card>
    <span id="title">Privacy Policy</span>
    <span id="content">
      <em>Data Collected and Usage Thereof</em>
      <p>
        Some identifiable data is collected, being your <b>Email Address</b>, 
        <b>Country</b>, and optionally your <b>Institution Name</b>, for the purposes
        of email communications and better understanding usage demographics.
      </p>
      <p>
        We collect this data to identify and authenticate users, provide a
        personalized user experience, and send email communications.
      </p>
      <p>
        We are committed to protecting your privacy and handling your personal
        data in accordance with the General Data Protection Regulation (GDPR).
      </p>
    </span>
  </mexer-card>

  <mexer-card>
    <span id="title">Cookies</span>
    <span id="content">
      <p>
        We use cookies to store user sessions and user history to enhance the user experience.
        Cookies are also used for storing CSRF security tokens.
      </p>
    </span>
  </mexer-card>

  <mexer-card>
    <span id="title">Email Communications</span>
    <span id="content">
      <p>
        We will not spam any users with emails. Email communication are reserved for the following 
        situations.
        <ul>
          <li>Protect the user experience through email verifications for account management.</li>
          <li>Significant information updates about Mexer.</li>
          <li>In response to a received email.</li>
        </ul>
      </p>
    </span>
  </mexer-card>

  <mexer-card>
    <span id="title">Consent</span>
    <span id="content">
      <p>
        We will obtain your explicit consent before account creation.
        By signing up on our platform, you agree to our collection
        and use of your personal data as described in this document.
      </p>
    </span>
  </mexer-card>

  <mexer-card>
    <span id="title">Security</span>
    <span id="content">
      <p>
        We implement appropriate technical measures to ensure the security of your
        personal data and protect it against unauthorized access, alteration,
        disclosure, or destruction.
      </p>
      <p>
        By using our website and services, you acknowledge that you have read and
        understand these terms and conditions and agree to be bound by them.
      </p>
    </span>
  </mexer-card>
{% endblock %}
