#heading-box {
    background-color: #131d2c;
    background-image: url("../images/welcome_background.svg") ;
    background-size: auto 100%;
    background-repeat: repeat-x;
    animation: scroll-background 30s infinite linear;
}

@keyframes scroll-background {
    0% {
        background-position: 0px;
    }
    100% {
        background-position: calc(1920px * 3); /* for some reason 3 makes it pretty smooth... */
    }
}

h1 {
    text-align: center;
    margin-bottom: 0%;
    font-size: 75px;
    color: whitesmoke;
}

h2 {
    text-align: center;
    margin-top: 0%;
    margin-bottom: 5%;
    font-size: 35px;
    color: whitesmoke;
}

h3 {
    text-align: center;
    font-size: 30px;
    margin-top: 5%;
}

div.center-item>p {
    display: inline-block;
    width: 60%;
    font-size: 25px;
    padding-bottom: 15px;
}

div.center-item {
    text-align: center;
}

.highlight:hover {
    background-color: #393E46;
    color: #00ADB5;
}

article.light {
    color: #393E46;
    background-color: #afcdcf;
}

article.dark {
    color: #393E46;
    background-color: #97c8ca;
}

#get-started {
    background-color: #00ADB5;
    border-radius: 30px;
    border-width: 4px;
    border-color: #393E46;
    color: whitesmoke;
    cursor: pointer;
    font-size: 70px;
    font-family: Arial, Helvetica, sans-serif;
    height: 100px;
    width: 400px;
    margin-top: 5%;
    margin-bottom: 10%;

    /* shine */
    mask-image: linear-gradient(45deg, #000 25%, rgba(0, 0, 0, .2) 50%, #000 75%);
    mask-size: 500%;
    mask-position: 0;
}

#get-started:hover {
    transition: mask-position 1.5s ease;
    mask-position: 120%;
    opacity: 1;
}

#get-started:active {
    filter: contrast(150%);
}

div.information>article {
    padding-top: 0;
    padding-bottom: 0;
    transition: background-color 0.5s ease, color 0.5s ease;
}

article>h3 {
    padding-top: 15px;
    margin-top: 0;
}

.energy-effect {
    position: absolute;
    top: 35%;
    width: 100%;
    height: 4px;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 255, 255, 1) 50%, rgba(0, 0, 0, 0) 100%);
    animation: glowing 2s infinite;
}

#title {
    position: relative;
}

#title h1 {
    position: relative;
    z-index: 1;
}

#title span {
    z-index: 0;
}

@keyframes glowing {
    0% {
        box-shadow: 0 0 5px rgba(0, 255, 255, 0.5), 0 0 10px rgba(0, 255, 255, 0.5), 0 0 20px rgba(0, 255, 255, 0.5), 0 0 40px rgba(0, 255, 255, 0.5);
    }

    50% {
        box-shadow: 0 0 20px rgba(0, 255, 255, 1), 0 0 40px rgba(0, 255, 255, 1), 0 0 60px rgba(0, 255, 255, 1), 0 0 80px rgba(0, 255, 255, 1);
    }

    100% {
        box-shadow: 0 0 5px rgba(0, 255, 255, 0.5), 0 0 10px rgba(0, 255, 255, 0.5), 0 0 20px rgba(0, 255, 255, 0.5), 0 0 40px rgba(0, 255, 255, 0.5);
    }
}