body, html {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    width: 100%;
}

#plot-section {
    max-width: 95%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    margin-top: 2%;
    text-align: center;
    color: whitesmoke;
    background-color: #393e46;
    box-shadow: #191b1e 0px 0px 50px;
    overflow: hidden;
    position: relative;
}

#plot-reset {
    position: absolute;
    bottom:0;
    right:0;
    background-color: rgba(0, 173, 181, 0.5);
    border: 0;
    border-radius: 20%;
}

#plot-reset:hover {
    background-color: rgba(0, 173, 181, 1);
}

.center-container {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    height: 100%;
}

#plot-section img {
    margin: auto;
    display: block;
    height: 80%;
}

.styled-dropdown {
    cursor: pointer;
    background-color: rgb(181, 221, 246);
    border:0;
    box-shadow: 0px 0px 5px;
}

.optional-dropdown {
    display: none;
}

.remove-button {
    background-color: rgb(255, 129, 129);
    border: 0;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    margin-right: 0.5%;
}

.remove-button:hover {
    background-color: rgb(255, 0, 0);
}

#get {
    background-color: #00ADB5;
    border-radius: 30px;
    border:0;
    width: 100px;
    height: 50px;
    font-size: 25px;
    color: #191b1e;
}

#get:hover {
    background-color: #30cbd3;
}

#get:active {
    box-shadow: inset 0px 0px 10px;
}