body,
html {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#plot-section {
    max-width: 95%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    margin-top: 2%;
    text-align: center;
    color: whitesmoke;
    background-color: #393e46;
    box-shadow: #191b1e 0px 0px 50px;
    overflow: hidden;
    position: relative;
    display: block;
}

#plot-section>div {
    width: 100%;
    height: 100%;
}

#plot-reset {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 173, 181, 0.5);
    border: 0;
    border-radius: 20%;
}

#plot-reset:hover {
    background-color: rgba(0, 173, 181, 1);
}

#plot-with-extra {
    position: relative;
    height: 100%;

}

.center-container {
    display: flex;
    justify-content: center;
    margin: 0 auto;

    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    /* make sure this doesn't impede the plot interactions */
}

#plot-reset {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 173, 181, 0.5);
    border: 0;
    border-radius: 20%;
}

#plot-reset:hover {
    background-color: rgba(0, 173, 181, 1);
}

#plot-section img {
    margin: auto;
    display: block;
    height: 80%;
}

.styled-dropdown {
    cursor: pointer;
    background-color: rgb(181, 221, 246);
    border: 0;
    box-shadow: 0px 0px 5px;
}

.optional-dropdown {
    display: none;
}

.remove-button {
    background-color: rgb(255, 129, 129);
    border: 0;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    margin-right: 0.5%;
}

.remove-button:hover {
    background-color: rgb(255, 0, 0);
}

#get {
    background-color: #00ADB5;
    border-radius: 30px;
    border: 0;
    width: 100px;
    height: 50px;
    font-size: 25px;
    color: #191b1e;
}

#get:hover {
    background-color: #30cbd3;
}

#get:active {
    box-shadow: inset 0px 0px 10px;
}

/* spinner -- starting design curtosy https://cssloaders.github.io/ */
/* center ring */
.loader {
    width: 50vh;
    height: 50vh;
    border-radius: 50%;
    display: inline-block;
    border: 40px solid;
    border-color: #afcdcf #afcdcf transparent transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    margin: auto;
    z-index: 2;
}

/* outer ring + ring setups */
.loader::after,
.loader::before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 40px solid;
    border-color: transparent #30cbd3 transparent #30cbd3;
    width: 35vh;
    height: 35vh;
    border-radius: 50%;
    box-sizing: border-box;
    animation: rotationBack 0.5s linear infinite;
    transform-origin: center center;
}

/* inner ring */
.loader::before {
    width: 20vh;
    height: 20vh;
    border-color: #afcdcf #afcdcf transparent transparent;
    animation: rotation 1.5s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotationBack {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

.xy_plot_additions {
    background-color: #b5ddf6;
    border: 0;
    box-shadow: 0px 0px 5px;
    cursor: pointer;
}