<head>
  <title>About Mexer</title>
  <link rel="stylesheet" href="../static/css/toolbar.css" type="text/css" />
  <link rel="stylesheet" href="../static/css/about.css" type="text/css" />
</head>

<body>
  <div class="topbar">
    <div class="left">
      <a class="main" href="{% url 'home' %}">Mexer</a>
    </div>
    <div class="right">
      {% if request.user.is_authenticated %}
      <p style="color: #33ebed">{{ request.user.username }}</p>
      {% endif %}
      <a class="links" href="{% url 'visualizer' %}">Visualizer</a>
      <!-- <a class="links" href="{% url 'about' %}">About</a> -->
      {% if request.user.is_authenticated %}
      <a class="links" href="{% url 'logout' %}">Sign Out</a>
      {% else %}
      <a class="links" href="{% url 'login' %}">Sign In</a>
      {% endif %}
    </div>
  </div>
  <svg viewBox="0 0 500 10" preserveAspectRatio="xMinYMin meet">
    <path
      d="M 0 0 C 113 16 352 -8 500 5 L 500 0 L 0 0 Z"
      style="stroke: none; fill: #393e46"
    ></path>
  </svg>

  <div class="about-content">
    <h1>About Us</h1>
    <p>
      Welcome to Mexer. Our mission is to empower researchers to better
      understand energy conversion chains (ECCs) through intuitive visualization
      tools underpinned by the
      <a
        href="https://www.sciencedirect.com/science/article/pii/S0306261918308298"
        target="_blank"
        >PSUT framework.</a
      >
    </p>
    <h2>Our Vision</h2>
    <p>
      We envision a sustainable world in which everyone has access to clear and
      actionable energy data. By providing this web application, we aim to make
      understanding and working with energy data easier, fostering informed,
      sustainable policy-making.
    </p>
    <h2>Our Team</h2>
    <p>
      Our team consists of varied and passionate people, with the common goal of
      a sustainable world. From engineers to economists, the Energy Economics
      Team is dedicated to the research and presentation of sustainable
      policies.
    </p>
    <h2>Our Story</h2>
    <p></p>
    <h2>Contact Us</h2>
    <p>
      We'd love to hear from you! Whether you have a question about our tools,
      need support, or want to provide feedback, please reach out to
      <a href="mailto: matthew.heun@calvin.edu">matthew.heun@calvin.edu</a>.
    </p>

    <p>
      Information about the data available on Mexer can be found
      <a href="{% url 'data-info' %}">here</a>.
    </p>
  </div>
</body>
