<head>
  <title>Eviz About</title>
  <link rel="stylesheet" href="../static/css/index.css" type="text/css" />
  <link rel="stylesheet" href="../static/css/about.css" type="text/css" />
</head>
<body>
  <div class="topbar">
    <div class="left">
      <a class="main">EVIZ</a>
    </div>
    <div class="right">
      <a class="links" href="index.html">Visualizer</a>
      <a class="links" href="about.html">About</a>
      <a class="links" href="signin.html">Sign In</a>
    </div>
  </div>

  <div class="about-content">
    <h1>About Us</h1>
    <p>
      Welcome to EVIZ, your trusted partner in energy visualization. Our mission
      is to empower individuals and organizations to better understand and
      manage their energy consumption through innovative and intuitive
      visualization tools.
    </p>
    <h2>Our Vision</h2>
    <p>
      We envision a world where everyone has access to clear and actionable
      energy data. By providing cutting-edge visualization tools, we aim to make
      energy data accessible and understandable to all, fostering informed
      decision-making and sustainable practices.
    </p>
    <h2>Our Team</h2>
    <p>
      Our team consists of passionate professionals dedicated to making energy
      data more accessible and useful. From software engineers to data
      scientists, we bring together a diverse set of skills to deliver top-notch
      energy visualization solutions.
    </p>
    <h2>Our Story</h2>
    <p>
      Founded in ___, EVIZ started as a small project with a big dream – to
      transform how people interact with their energy data. Over the past year,
      we have grown into a full-fledged platform, helping users around the world
      visualize and understand their energy consumption.
    </p>
    <h2>Contact Us</h2>
    <p>
      We'd love to hear from you! Whether you have a question about our tools,
      need support, or want to provide feedback, feel free to reach out to us at
      <a href="matthew.heun@calvin.edu">matthew.heun@calvin.edu</a>.
    </p>
  </div>

  <footer>
    <p>&copy; 2024 EVIZ. All rights reserved.</p>
  </footer>
</body>
