<style>
    .topbar {
        background-color: #393E46;
        overflow: hidden;
    }

    .topbar a {
        font-family: Arial, Helvetica, sans-serif;
        float: left;
        text-align: center;
        padding: 15px;
        width: 75px;
        color: #00ADB5;
    }

    .topbar a.main {
        font-size: 30px;
        width: 100px;
        height: auto;
        text-align: left;
        line-height: normal;
    }
</style>

<body>
    <div class="topbar">
        <a class="main">EVIZ</a>
        <a>Vizualizer</a>
        <a>About</a>
        <a>Sign In</a>
    </div>
</body>