<head>
  <title>Login</title>
  <link rel="stylesheet" href="../static/css/toolbar.css" type="text/css" />
  <link rel="stylesheet" href="../static/css/signup.css" type="text/css" />
</head>

<body class="gradient">
  <div class="topbar">
    <div class="left">
      <a class="main" href="{% url 'home' %}">EVIZ</a>
    </div>
    <div class="right">
      <a class="links" href="{% url 'visualizer' %}">Visualizer</a>
      <a class="links" href="{% url 'about' %}">About</a>
      <!-- <a class="links" href="{% url 'login' %}">Sign In</a> -->
    </div>
  </div>
  <svg viewBox="0 0 500 10" preserveAspectRatio="xMinYMin meet">
    <path
      d="M 0 0 C 113 16 352 -8 500 5 L 500 0 L 0 0 Z"
      style="stroke: none; fill: #393e46"
    ></path>
  </svg>

  <div class="content">
    <div class="energy-visulizer">
      <h1>Energy Visualizer</h1>
      <p>
        Discover how energy flows and transforms with our powerful visualization
        tools.
      </p>
    </div>
    <div class="login-box">
      <h1>Log in</h1>
      <form method="POST">
        {% csrf_token %}
        <div class="form-group">
          {{ form.username.label_tag }} {{ form.username }}
        </div>
        <div class="form-group">
          {{ form.password.label_tag }} {{ form.password }}
        </div>
        {% if messages %}
          {% for message in messages %}
          <p{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %} style="color:red;"{% endif %}>{{ message }}</p>
          {% endfor %}
        {% endif %}
        <button type="submit">Log In</button>
        <p>
          Don't have an account?
          <a style="color: #00adb5" href="{% url 'signup' %}">Sign Up</a>
        </p>
      </form>
    </div>
  </div>

  <div id="para-bg-5" class="para-bg"></div>
  <div id="para-bg-4" class="para-bg"></div>
  <div id="para-bg-3" class="para-bg"></div>
  <div id="para-bg-2" class="para-bg"></div>
  <div id="para-bg-1" class="para-bg"></div>
  <div id="para-bg-0" class="para-bg"></div>
</body>
