<!DOCTYPE html>
<html>
  <head>
    <title>Signup</title>
    <link rel="stylesheet" href="../static/css/toolbar.css" type="text/css" />
    <link rel="stylesheet" href="../static/css/signup.css" type="text/css" />
  </head>

  <body class="gradient">
    <div class="topbar">
      <div class="left">
        <a class="main" href="{% url 'home' %}">Mexer</a>
      </div>
      <div class="right">
        <a class="links" href="{% url 'visualizer' %}">Visualizer</a>
        <a class="links" href="{% url 'about' %}">About</a>
        <!-- <a class="links" href="{% url 'login' %}">Sign In</a> -->
      </div>
    </div>
    <svg viewBox="0 0 500 10" preserveAspectRatio="xMinYMin meet">
      <path
        d="M 0 0 C 113 16 352 -8 500 5 L 500 0 L 0 0 Z"
        style="stroke: none; fill: #393e46"
      ></path>
    </svg>

    <div class="content">
      <div class="energy-visulizer">
        <h1>Reset Password</h1>
        <p>
          Please input your password twice in the boxes to the right to finish resetting your password.
          Note: passwords much match, be at least 8 characters long, and have at least one capital letter and one number.
        </p>
      </div>
      <div class="login-box">
        <h1>Reset Password</h1>
        <form method="POST">
          {% csrf_token %}
          <input type="hidden" name="code" value={{ code }}>
          <input type="password" placeholder="New Password" name="password1" required>
          <input type="password" placeholder="Confirm New Password" name="password2" required>
          {% for error_message in messages %} <p>{{ error_message }}</p> {% endfor %}
          <button type="submit">Reset Password</button>
        </form>
      </div>
    </div>

    <div id="para-bg-5" class="para-bg"></div>
    <div id="para-bg-4" class="para-bg"></div>
    <div id="para-bg-3" class="para-bg"></div>
    <div id="para-bg-2" class="para-bg"></div>
    <div id="para-bg-1" class="para-bg"></div>
    <div id="para-bg-0" class="para-bg"></div>
  </body>
</html>
