<head>
  <title>About EVIZ</title>
  <link rel="stylesheet" href="../static/css/toolbar.css" type="text/css" />
  <link rel="stylesheet" href="../static/css/about.css" type="text/css" />
</head>

<body>
  <div class="topbar">
    <div class="left">
      <a class="main" href="{% url 'home' %}">EVIZ</a>
    </div>
    <div class="right">
      {% if request.user.is_authenticated %}
      <p style="color: #33ebed">{{ request.user.username }}</p>
      {% endif %}
      <a class="links" href="{% url 'visualizer' %}">Visualizer</a>
      <!-- <a class="links" href="{% url 'about' %}">About</a> -->
      {% if request.user.is_authenticated %}
      <a class="links" href="{% url 'logout' %}">Sign Out</a>
      {% else %}
      <a class="links" href="{% url 'login' %}">Sign In</a>
      {% endif %}
    </div>
  </div>
  <svg viewBox="0 0 500 10" preserveAspectRatio="xMinYMin meet">
    <path
      d="M 0 0 C 113 16 352 -8 500 5 L 500 0 L 0 0 Z"
      style="stroke: none; fill: #393e46"
    ></path>
  </svg>
  <div class="about-content">
    <h1>Terms and Conditions</h1>
    <p>
      The following terms and conditions govern all use of the Eviz website and
      all content, services and products available at or through the website.
      Please read this Agreement carefully before accessing or using the
      website. By accessing or using any part of the website, you agree to
      become bound by the terms and conditions of this Agreement. If you do not
      agree to all the terms and conditions of this Agreement, then you may not
      access the website or use any services.
    </p>
    <h2>Privacy</h2>
    <h3>Data Collected and Usage</h3>

    <p>
      We collect personal data, including your <b>Email address</b>,
      <b>Country</b>, <b>Institution, </b> for the purpose of providing
      services. This data may be used to identify you, geographically locate
      you, or identify your affiliation.
    </p>
    <p>
      We collect this data to identify and authenticate users, provide a
      personalized user experience, and send email communications (only with
      your explicit consent).
    </p>
    <p>
      We are committed to protecting your privacy and handling your personal
      data in accordance with the General Data Protection Regulation (GDPR).
    </p>

    <h2>Cookies</h2>
    <p>We use cookies to store user history and enhance the user experience.</p>

    <h2>Consent</h2>
    <p>
      We will obtain your explicit consent before sending any email
      communications. By signing up on our platform, you agree to our collection
      and use of your personal data as described in this document.
    </p>

    <h2>Security</h2>
    <p>
      We implement appropriate technical measures to ensure the security of your
      personal data and protect it against unauthorized access, alteration,
      disclosure, or destruction.
    </p>
    <p>
      By using our website and services, you acknowledge that you have read and
      understand these terms and conditions and agree to be bound by them.
    </p>
  </div>
</body>
