<!DOCTYPE html>
<html>
  <head>
    <title>PSUT Data</title>
  </head>
  <body>
    <h1>PSUT Data</h1>
    <h2>{{ query }}</h2>

    {% if error %}
    <p>{{ error }}</p>
    {% else %}
    <ul>
      <h5>R</h5>
      {% for row in r_mat.data %}
      <li>{{ row }}</li>
      {% endfor %}
      <h5>U</h5>
      {% for row in u_mat.data %}
      <li>{{ row }}</li>
      {% endfor %}
      <h5>V</h5>
      {% for row in v_mat.data %}
      <li>{{ row }}</li>
      {% endfor %}
      <h5>Y</h5>
      {% for row in y_mat.data %}
      <li>{{ row }}</li>
      {% endfor %}
    </ul>
    {% endif %}
  </body>
</html>
