<!DOCTYPE html>
<html>

<head>
    <title>EVIZ Visualizer</title>
    <link rel="stylesheet" href="../static/css/toolbar.css" type="text/css" />
    <link rel="stylesheet" href="../static/css/visualizer.css" type="text/css" />
    <script src="https://unpkg.com/htmx.org@1.9.12"></script> <!-- HTMX -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js" charset="utf-8"></script> <!-- Plotly -->
    <script src="../static/js/visualizer.js"></script>
    <script src="../static/js/plotUtil.js"></script>
</head>


<body onload="initialize()" class="gradient">



    <!-- toolbar -->
    <div class="topbar">
        <div class="left">
            <a class="main" href="{% url 'home' %}">EVIZ</a>
        </div>
        <div class="right">
            <!-- <a class="links" href="{% url 'visualizer' %}">Visualizer</a> -->
            <a class="links" href="{% url 'about' %}">About</a>
            {% if request.user.is_authenticated %}
            <a class="links" href="{% url 'logout' %}">Sign Out</a>
            {% else %}
            <a class="links" href="{% url 'login' %}">Sign In</a>
            {% endif %}
        </div>
    </div>
    <svg viewBox="0 0 500 10" preserveAspectRatio="xMinYMin meet">
        <path d="M 0 0 C 113 16 352 -8 500 5 L 500 0 L 0 0 Z" style="stroke: none; fill:#393E46;"></path>
    </svg>
    <!-- toolbar end -->



    <!-- main form -->
    <form method="post" action="/data" id="query-form">
        {% csrf_token %}
        <div class="query-choice">
            <div class="column info-text">
                <span class="popup-icon">&#9432;
                    <span class="popup-text">
                        Select the type of plot you want to display.
                    </span>
                </span>
                Select type of plot:
            </div>
            <div class="input-column">
                <input name="plot_type" type="radio" value="sankey" id="plot-type-input">Sankey<br>
                <input name="plot_type" type="radio" value="xy_plot" id="plot-type-input">X-Y Plot<br>
                <input name="plot_type" type="radio" value="matrices" id="plot-type-input">Matrices
            </div>
            &#x2800
        </div>
        

        <div class="query-choice">
            <div class="info-text">
                From dataset
            </div>
            <div class="input-column">
                {% for dataset in datasets %}
                <input type="radio" value="{{ dataset }}" name="dataset" required>{{ dataset }}<br>
                {% endfor %}
            </div>
            &#x2800
        </div>
        <div class="query-choice">
            <div class="info-text">
                Get country(s)
            </div>
            <div calss="input-column">
                <select name="country" id="country-dropdown" class="styled-dropdown" required>
                    {% for country in countries %}
                    <option value="{{ country }}">{{ country }}</option>
                    {% endfor %}
                </select>
                <button onclick="showDropdown('country')" type="button">+</button>
            </div>
            &#x2800
        </div>
        <div class="query-choice">
            <div class="info-text">
                Selected by method
            </div>
            <div class="input-column">
                {% for method in methods %}
                <input type="checkbox" value="{{ method }}" name="method">{{ method }}<br>
                {% endfor %}
            </div>
            &#x2800
        </div>
        <div class="query-choice">
            <div class="info-text">
                For energy type
            </div>
            <div class="input-column">
                {% for energy_type in energy_types %}
                <input type="checkbox" value="{{ energy_type }}" name="energy_type">{{ energy_type }}<br>
                {% endfor %}
            </div>
            &#x2800
        </div>
        <div class="query-choice">
            <div class="info-text">
                To last stage
            </div>
            <div class="input-column">
                <select name="last_stage" id="last_stage-dropdown" class="styled-dropdown">
                    {% for last_stage in last_stages %}
                    <option value="{{ last_stage }}">{{ last_stage }}</option>
                    {% endfor %}
                </select>
            </div>
            &#x2800
        </div>
        <div class="query-choice">
            <div class="info-text">
                With IEAMW
            </div>
            <div class="input-column">
                {% for ieamw in ieamws %}
                <input type="checkbox" value="{{ ieamw }}" name="ieamw">{{ ieamw }}<br>
                {% endfor %}
            </div>
            &#x2800
        </div>
        <div class="query-choice">
            <div class="info-text">
                Including NEU
            </div>
            <div class="input-column">
                <input type="checkbox" value="true" name="including_neu">
            </div>
            &#x2800
        </div>

        <!-- metadata specifics inputs -->

        <!-- efficiency dropdown -->
        <p>
            Efficiency
            <select name="efficiency" class="styled-dropdown" id="efficiency-dropdown">
                <!-- TODO: don't hardcode these -->
                <option value="EXp">EXp</option>
                <option value="EXf">EXf</option>
                <option value="EXu">EXu</option>
                <option value="etapf">etapf</option>
                <option value="etafu">etafu</option>
                <option value="etapu">etapu</option>
            </select>
        </p>
        <!-- efficiency dropdown end -->

        <!-- single year input -->
        <p>
            For year
            <input name="year" class="styled-dropdown" id="single-year-input">
        </p>
        <!-- single year input -->

        <!-- year range input -->
        <p>
            From year
            <input name="year" class="styled-dropdown" id="from-year-input">
            to year
            <input name="to_year" class="styled-dropdown" id="to-year-input">
        </p>
        <!-- year range input end-->

        <!-- matrix dropdown -->
        <p>
            Matrix
            <select name="matname" id="matname-dropdown" class="styled-dropdown">
                <option value selected hidden>Please select something</option>
                <option value="RUVY">RUVY</option>
                {% for matname in matnames %}
                <option value="{{ matname }}">{{ matname }}</option>
                {% endfor %}
            </select>
        </p>
        <!-- matrix dropdown end -->

        <!-- metadata specifics inputs end -->

        <button hx-post="/plot" hx-swap="innerHTML" hx-target="#plot-section" hx-indicator="#plot-spinner" type="button"
            id="get" onclick='document.getElementById("plot-section").scrollIntoView()'>
            <!-- onclick for bringing user to plot area -->
            GET
        </button>
        <button type="submit" id="download"
            onclick="return confirm('By accepting you confirm that you understand IEA data is proprietary and cannot be shared with those not authorized to see it.')">
            <!-- onclick for bringing user to plot area -->
            DOWNLOAD
        </button>
    </form>
    <!-- main form end -->



    <!-- plotting area -->
    <div id="plot-with-extra">
        <div id="plot-section">
            <!-- This will be replaced with the plot from HTMX -->
        </div>
        <div id="spinner-container"><span id="plot-spinner" class="loader htmx-indicator"></span></div>
    </div>
    <!-- plotting area end -->

</body>

</html>
