<div class="relative inline-block">
    <button
        type="button"
        class="info-toggle text-blue-500 focus:outline-none"
        title="Click for field details"
        onclick="toggleFieldTooltip(this)"
    >
        &#9432;
    </button>
    <div class="hidden fixed field-tooltip w-64 bg-gray-800 text-white text-sm rounded-md p-2 shadow-lg z-50">
        {{ tooltip }}
        {% if link_url %}<a href="{{ link_url }}" class="text-blue-400 underline">{{ link_text }}</a>{% endif %}
    </div>
    <span class="font-semibold">{{ label }}</span>
</div>
